

h2{
    display: flex;
    justify-self: center;
    font-size: 2rem;
}

.SocialButton{
    position: static;
    display: flex;
    justify-self: center;
    border: black solid;
    border-radius: 1rem;
    padding: 0.5rem;
    font-size: 2rem;
}
